*
{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: azure;
    background-size: cover;
    background-position:center ;
    font-family: sans-serif;
}


.menu-bar
{
    background: rgb(6, 32, 58);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 200px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active,.menu-bar ul li:hover
{
    background-color: rgb(15, 56, 97);
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right:8px ;
}

