@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body{
    font-family: Poppins;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
h2{
    color: green;

}
fieldset{
    width:30%;
    background-image: linear-gradient( 89.2deg,  rgba(191,241,236,1) 22.3%, rgba(109,192,236,1) 84.1% );
    align-self: center;
    margin: 0 auto;
    color: green;
    border-collapse: collapse;
    font-size: 16px;

}
.data-entry{
    width:30%;
    background-image: linear-gradient( 89.2deg,  rgba(191,241,236,1) 22.3%, rgba(109,192,236,1) 84.1% );
    align-self: center;
    margin: 0 auto;
    color: green;
    border-collapse: collapse;
    font-size: 16px;
}

ul.a {
    list-style-type: circle;
  }

.data-table{
    border-collapse:collapse;
    font-size: 0.9em;
    min-width: 400px;

}
.data-table thead tr{
    background-color: aquamarine;
    font-weight: bold;
    min-width: 400px;
    border-radius: 15px 50px 30px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0 ,0, 0, 0.15);
}
.data-table thead td{
    padding: 12px 15px;
}

.data-table tbody tr{
   border-bottom: 1px solid #ddd;
}

.data-table tbody tr:nth-of-type(even){
    background-color:#f3f3f3;

}
.data-table tbody tr:last-of-type{
    border-bottom: 4px solid aquamarine;
}
ul{
    color: aqua;
    text-shadow:#eef2f3;
    text-emphasis-color: green;
    
}

.bottom-menu-bar
{
    background: rgb(6, 32, 58);
    text-align: center;
}
.bottom-menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.footer{
    margin-top: auto;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    color: green;
    font-weight: bold;
    text-shadow:#eef2f3;
    background-color: aquamarine;
    position: relative;/* Updated Property */

    

   
}

.text-center{
    text-align: center;
    margin-bottom: 20px;
    }
.header-Reg{
    text-align: center;
    text-shadow:#eef2f3;

    background: aquamarine;
    background-image: linear-gradient( 43deg,  rgba(191,241,236,1) 22.3%, rgba(109,192,236,1) 84.1% );
    
    }
    
    .profile-images-card{
        margin: auto;
        display: table;
        background: #fff;
        padding: 30px 50px;
        box-shadow: 0px 0px 5px #ddd;
    }
    
    .profile-images{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }

    .dis-images{
        margin-top: 50px;
        width: 300px;
        height: 300px;
      
    }
    .dis-images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .profile-images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .custom-file input[type='file']{
        display: none
    }
    
    .custom-file label{
        color: #000;
        text-align: center;
        margin: auto;
        margin-top: 15px;
    }

    .pro-images{
        width: 100px;
        height: 100px;
        
      
    }
    .pro-images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    