
<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>
<body>

    <div class="menu-bar">
        <ul>
            <li ><img src="../assets/MabLogo.jpg" height="70px" align="left"></li>
            <li><a href="home.php"><i class="fa fa-home"></i>Back</a></li>
            <li><a href="../controller/logout.php"><i class="fa fa-sign-out"></i>Logout</a></li>
        </ul>
    </div>
   
    <table border="1" width="100%" align="center" height="400px">
        <td align="center">
        <form method="post" action="../controller/regcheckEm.php">               
                <fieldset style="width:320px" >
                    <legend>
                        <h3>
                            Edit Profile
                        </h3>
                    </legend>
                    <table align="center" height="400px" > 
                        <tr>
                            <td align="right">
                                <center>Change Profile Picture</center>
                               <img src="../assets/user.png" width="80px" height="80px">
                               <input type="file" name="file" align="right">
                           </td>
                        </tr>
                        <tr>
                            <td>User Name:</td>
                            <td><input type="text" name="username" value=""></td>
                        </tr>
                        <tr>   
                            <td>Email:</td>        
                            <td><input type="email" name="email" value=""></td>
                        </tr>
                        <tr>
                            <td>Password:</td>        
                            <td><input type="password" name="password" value=""></td>
                        </tr>
                        <tr>
                            <td><fieldset>
                                    <legend>Date of Birth</legend>
                                    <input type="date" name="dob" value="">
                                </fieldset>
                            </td>

                         </tr>     
                        <tr><td><input type="submit" name="submit" value="Update">
                            <input type="reset" name="click" value="reset">
                       </td></tr>
                    </table>
                </fieldset>
            </form>
        </td>
        </table>
     <div class="menu-bar">
        <ul>
            <li >Copyright2021@MAB</a></li>
        </ul>
    </div>
    
</body>
</html>
