<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
     <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="menu-bar">
        <ul>
             <li ><img src="../assets/MabLogo.jpg" height="60px" align="left"></li>
            <li ><a href="aboutUs.html"><i class="fa fa-user"></i> About us</a></li>
            <li><a href="contact.php"><i class="fa fa-phone"></i> Contact</a></li>
            <li><a href="signup.html"><i class="fa fa-sign-in"></i> Sign Up</a></li>
        </ul>

    </div>

    <table border="1" width="100%" align="center" height="400px">
        <td align="center">   
            <form method="post" action="../controller/logcheck.php">               
                <fieldset style="width:320px">
                    <legend height>LOGIN</legend>
                    <table height="200px">
                        <tr>
                            <td>Username</td>
                            <td><input type="text" name="username" value=""></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password" value=""></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" name="submit" value="Submit"> 
                                <a href="forgotpassword.html">Forgot Password?</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </td>
        </table>
         <div class="menu-bar">
        <ul>
            <li>Copyright2021@MAB</a></li>
        </ul>
    </div>


   
   
</body>
</html>