
<!DOCTYPE html>
<html>
<head>
    <title>Product list</title>
</head>
<body>
    <table border="1" width="70%" align="center">
        <tr>
            <td colspan="3" height="70px" align="right">
                <img src="../assets/MabLogo.jpg" height="70px" align="left">
                <h4>
                   <a href="contact.html" height="50px" width="50px">Contact</a> |
                   <a href="home.php">Back</a> |
                   <a href="../controller/logout.php" height="50px" width="50px">Logout</a>
                    			
                </h4>
            </td>
        </tr>
    </table>
    <table border="1" width="70%%" align="center" height="400px">
        <td align="center">   
            <form method="post" action="../controller/logcheck.php">               
                <fieldset style="width:300px">
                    <legend height>Product</legend>
                    <table border="1" height="400px" width="400px">
                        <tr>
                        <td>Item</td>
                        <td>Category</td>
                        <td>QTY Reserved</td>
                        <td>Order QTY</td>
                        <td>Price</td>
                        </tr>

                        <tr>
                        <td>Saree</td>
                        <td>women cloths</td>
                        <td>1000</td>
                        <td>470</td>
                        <td>$300.00</td>
                        <td>
                        <a href="edit.php?id=1"> EDIT</a>
                        </td>
                        <td>
                        <a href="delete.php?id=1"> DELETE</a>
                        </td>
                        </tr>
                        <tr>
                        <td>Heels</td>
                        <td>shoes</td>
                        <td>290</td>
                        <td>100</td>
                        <td>$2500.00</td>
                        <td>
                        <a href="edit.php?id=2"> EDIT</a>
                        </td>
                        <td>
                        <a href="delete.php?id=2"> DELETE</a>
                        </td>
                        </tr>
                        <tr>
                         <td>Watch</td>
                        <td>accessories</td>
                        <td>580</td>
                        <td>200</td>
                        <td>$700.00</td>
                         <td>
                        <a href="edit.php?id=3"> EDIT</a>
                        </td>
                        
                         <td>
                        <a href="delete.php?id=3"> DELETE</a>
                        </td>
                        </tr>
                        <tr>
                         <td>Wallet</td>
                        <td>accessories</td>
                        <td>200</td>
                        <td>100</td>
                        <td>$500.00</td>
                         <td>
                        <a href="edit.php?id=4"> EDIT</a>
                        </td>
                         <td>
                        <a href="delete.php?id=4"> DELETE</a>
                        </td>
                        </tr>
                         <td>Shampoo</td>
                        <td>bath</td>
                        <td>300</td>
                        <td>100</td>
                        <td>$200.00</td>
                         <td>
                        <a href="edit.php?id=5"> EDIT</a>
                        </td>
                         <td>
                        <a href="delete.php?id=5"> DELETE</a>
                        </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </td>
        </table>
    <table border="1" width="70%" align="center" height="50px">
        <td colspan="3"><center>Copyright2021@MAB</center></td> 
    </table> 
</body>
</html>
