<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<table width="100%"  >
		<tr>
		<th align="center">
			<img src="../model/media/logo.jpg" height="60px">
		</th>
	
		</tr>
	</table>


	<center>
	
		<table border="1" width="100%" >
			<tr>
				<th align="center">
					<a href="signup.html"> Signup</a>
				</th>
				<th align="center">
					<a href="login.html"> Login</a> 
				</th>
			
				<th align="center">
					<a href="about us"> About Us</a>
				</th>
				
			</tr>
			
		</table>

		<table border="1" width="100%" >
			<tr>
				<p>Copyright@2021</p>

			</tr>

		</table>



</body>	
</html>