<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
    <!-- <img src="../Assets/MabLogo.jpg" height="100px" align="left">  -->
    <div class="menu-bar">
    <ul>
        <li ><img src="../Assets/MabLogo.jpg" height="70px"></li>
        <li class="active"><a href="Contact.html"><i class="fa fa-compress"></i>Contact</a></li>
        <li><a href="loginCus.html"><i class="fa fa-sign-in"></i>Login</a></li>
    </ul>
    </div>
    <!-- <table border="1" width="100%" align="center">
        <tr>
            <td colspan="3" height="80px" align="left">
                <img src="../Assets/MabLogo.jpg" height="70px">
            </td>
            <td align="Right">
                <h4>
                    <a href="Contact.html"> Contact</a> | 
                    <a href="loginCus.html" >Login</a> |			
                </h4>
            </td>
        </tr>
    </table> -->
    <table border="1" width="100%" align="center" height="400px">
        <td align="center">
            
            <form method="post" action="../controller/regcheckCus.php">               
                <fieldset style="width:320px" >
                    <legend>
                        <h3>
                            REGISTRATION
                        </h3>
                    </legend>
                    <table align="center" height="400px" >
                        <tr>
                            <td>Name<br></td>
                            <td>:<input type="text" name="name" value=""></td>
                        </tr>
            
                        <tr>
                            <td>Email <br></td>        
                            <td> :<input type="email" name="email" value=""> </td>
                        </tr>
            
                        <tr>
                            <td>User Name<br></td>
                            <td>:<input type="text" name="username" value=""></td>
                        </tr>
                        <tr>
                            <td>Password</td>        
                            <td>:<input type="password" name="password" value=""><br></td>
                        </tr>
            
                        <tr >
                            <td>Confirm Password <br></td>
                            <td>:<input type="password" name="re_password" value=""></td>
                        </tr>
    
                        <tr height='30px'>
                            <td colspan="2">
                                <fieldset>
                                    <legend>Gender</legend>
                                    <input type="radio" name="gender" value="Male"> Male
                                    <input type="radio" name="gender" value="Female"> Female
                                    <input type="radio" name="gender" value="Other"> Other
                                </fieldset>
                            </td>
                        </tr>
    
                        <tr>        
                            <td colspan="2">
                                <fieldset>
                                    <legend>Date of Birth</legend>
                                    <input type="date" name="dob" value="">
                                </fieldset>
                            </td>
                        </tr> 
    
                        <tr align="right">
                            <td " height=" 50px">
                                <input type="submit" name="submit" value="Submit">
                                <input type="reset" name="click" value="reset">
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </td>
        </table>


    <!-- <table border="1" width="100%" height="50px" style="background-color: rgb(6, 32, 58 );">
        <td colspan="3" ><center>Copyright2021@MAB</center></td> 
    </table>  -->

    <div class="menu-bar">
        <ul>
            <li class="active">Copyright2021@MAB</a></li>
        </ul>
    </div>
    
</body>
</html>